/* Overwrite bootstrap */
:root {
  --bs-border-radius: 0.5rem; /* Change border width globally */
}

.btn-primary {
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  /* Need to do other states! */
}

a {
  --bs-link-color-rgb: 0, 0, 0
}

.jast-a {
  font-size: 0.8em;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.blue {
  color: #24BBF1; 
  font-weight: bold;
}

.red {
  color: #FF3434; 
  font-weight: bold;
}