/* Overwrite bootstrap */
:root {
  --bs-border-radius: 12px; /* Change border width globally */
  --light-grey: #F0F0F0;
}

body {
  background-color: var(--light-grey);
}

.btn-primary {
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  height: 56px;
  /* Need to do other states! */
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

a {
  --bs-link-color-rgb: 0, 0, 0
}

.jast-a {
  font-size: 15px;
}

.form-control {
  padding: 18px 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.blue {
  color: #24BBF1; 
  font-weight: bold;
}

.red {
  color: #FF3434; 
  font-weight: bold;
}