/* Overwrite bootstrap */
:root {
  --bs-border-radius: 12px; /* Change border width globally */
  --black: #000000;
  --light-grey: #F0F0F0;
  --light-grey2: #e0e0e0;
  --med-grey: #cccccc;
  --dark-grey: #999999;

  --light-green: #DAF6AD;
  --light-orange: #ffe8d1;
  --light-red: #fcdede;

  --dark-green: #028a00;
  --dark-orange: #eb8d00;
  --dark-red: #f71d1d;
}

body {
  background-color: var(--light-grey)
}

.btn-primary {
  --bs-btn-bg: var(--black);
  --bs-btn-border-color: var(--black);
  height: 56px;
  /* Need to do other states! */
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

a {
  --bs-link-color-rgb: 0, 0, 0
}

.top-nav {
  width: 100%;
}

.jast-a {
  font-size: 15px;
}

.form-control {
  padding: 18px 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-container {
  padding: 20px;
}