.login-error {
    width: 100%;
    background-color: var(--light-grey2);
    padding: 20px;
}

.login-error h2{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: normal;
}