.jast-move-card {
    height: 100%;
}

.jast-move-card .card-body {
    flex-direction: column;
}
.jast-move-card-header {
    display: grid;
    grid-template-columns:  1fr 75px;
    gap: 1em;
    align-items: center;
}
.move-description {
    font-size: 15px;
}

.collapse-content {
    display: grid;
    grid-template-rows: 0fr; /* Fully collapsed */
    transition: grid-template-rows 0.4s ease-in-out;
}

.collapse-content.show {
    grid-template-rows: 1fr; /* Expands naturally to fit content */
}

.collapse-content-body {
    overflow: hidden;
}
.change-rating-option i {
    font-size: 24px;
}

.chevron {
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}