/* Styling for the back link */
.back-button {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline */
    font-size: 30px;
}

/* .back-icon {
    margin-right: 8px; 
} */